<BsForm
  @formLayout="vertical"
  @model={{buffer}}
  @onSubmit={{fn this.handleSave}} as |Form|
>
  <div class="form-group">
    <label>URL</label>
    <p class="form-control-static">
      <a href={{ link.url }}>{{ link.url }}</a>
    </p>
  </div>
  <Form.element
    @data-test-title
    @controlType="text"
    @label="Title"
    @property="title"
  />
  <Form.element
    @data-test-source
    @controlType="text"
    @label="Source"
    @property="source"
    @autocapitalize="off"
    @autocorrect="off"
  />
  <Form.element
    @data-test-tags
    @controlType="text"
    @label="Tags"
    @property="tag_list"
    @autocapitalize="off"
    @autocorrect="off"
  />
  <Form.element
    @data-test-public
    @controlType="checkbox"
    @label="Public"
    @property="public"
  />
  <Form.element
    @data-test-comment
    @controlType="textarea"
    @label="Comment"
    @property="comment"
  />
  <div class="float-right">
    <BsButton
      type="submit"
      @data-test-save-button
      @type="primary"
    >
      Save
    </BsButton>
    <BsButton
      type="button"
      @data-test-cancel-button
      @type="light"
      @onClick={{fn this.handleCancel}}
    >
      Cancel
    </BsButton>
  </div>
</BsForm>
