<BsForm
  @formLayout="vertical"
  @model={{this.buffer}}
  @onSubmit={{fn this.handleSave}} as |Form|
>
  <div class="form-group">
    <label>URL</label>
    <p class="form-control-static">
      <a href={{ this.link.url }}>{{ this.link.url }}</a>
    </p>
  </div>
  <Form.element
    @controlType="text"
    @label="Title"
    @property="title"
    data-test-title
  />
  <Form.element
    @controlType="text"
    @label="Source"
    @property="source"
    @autocapitalize="off"
    @autocorrect="off"
    data-test-source
  />
  <Form.element
    @controlType="text"
    @label="Tags"
    @property="tag_list"
    @autocapitalize="off"
    @autocorrect="off"
    data-test-tags
  />
  <Form.element
    @controlType="checkbox"
    @label="Public"
    @property="public"
    data-test-public
  />
  <Form.element
    @controlType="textarea"
    @label="Comment"
    @property="comment"
    data-test-comment
  />
  <div class="float-right">
    <BsButton
      @buttonType="submit"
      @type="primary"
      data-test-save-button
    >
      Save
    </BsButton>
    <BsButton
      type="button"
      @type="light"
      @onClick={{fn this.handleCancel}}
      data-test-cancel-button
    >
      Cancel
    </BsButton>
  </div>
</BsForm>
