{{#if this.anyPages}}
  <div class="form-group">
    <div class="btn-group" role="group">
      <BsButton
        @type="light"
        @onClick={{@prevPage}}
        disabled={{this.isFirstPage}}
      >
        Previous
      </BsButton>
      <BsButton
        @type="light"
        disabled={{true}}
      >
        Page {{@pageNumber}} of {{@totalPages}}
      </BsButton>
      <BsButton
        @type="light"
        @onClick={{@nextPage}}
        disabled={{this.isLastPage}}
      >
        Next
      </BsButton>
    </div>
  </div>
{{/if}}
