<h1>Read Links</h1>

{{input data-test-search-input value=searchText}}

<div class="form-group">
  <div class="btn-group" role="group">
    <button class="btn btn-default" onclick={{action "prevPage"}} disabled={{ isFirstPage }}>Previous</button>
    <button class="btn btn-default" disabled>Page {{page}} of {{totalPages}}</button>
    <button class="btn btn-default" onclick={{action "nextPage"}} disabled={{ isLastPage }}>Next</button>
  </div>
</div>

<ul class="list-group" data-test-links>
  {{#each pagedLinks as |link|}}
    {{link-row link=link showIfRead=true}}
  {{/each}}
</ul>
