<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <Input
        data-test-search-input
        @value={{searchText}}
        @type="search"
        @placeholder="Search"
        @classNames="form-control"
      />
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <PaginationControls
      @records={{this.filteredLinks}}
      @page={{this.page}}
      @perPage={{this.perPage}}
      @prevPage={{fn this.prevPage}}
      @nextPage={{fn this.nextPage}}
    />
  </div>
</div>

<ul class="list-group" data-test-links>
  {{#each pagedLinks as |link|}}
    <LinkRow @link={{link}} @showIfRead={{true}} />
  {{/each}}
</ul>

<div class="row mt-3">
  <div class="col-sm-12 col-md-6"></div>
  <div class="col-sm-12 col-md-6">
    <PaginationControls
      @records={{this.filteredLinks}}
      @page={{this.page}}
      @perPage={{this.perPage}}
      @prevPage={{fn this.prevPage}}
      @nextPage={{fn this.nextPage}}
    />
  </div>
</div>
