<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      {{input
        data-test-search-input
        value=searchText
        type="search"
        placeholder="Search"
        classNames="form-control"
      }}
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <div class="btn-group" role="group">
        <button
          class="btn btn-light"
          onclick={{action "prevPage"}}
          disabled={{ isFirstPage }}
        >
          Previous
        </button>
        <button
          class="btn btn-light"
          disabled
        >
          Page {{page}} of {{totalPages}}
        </button>
        <button
          class="btn btn-light"
          onclick={{action "nextPage"}}
          disabled={{ isLastPage }}
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<ul class="list-group" data-test-links>
  {{#each pagedLinks as |link|}}
    {{link-row link=link showIfRead=true}}
  {{/each}}
</ul>
