<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <Input
        data-test-search-input
        @value={{searchText}}
        @type="search"
        @placeholder="Search"
        @classNames="form-control"
      />
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    {{#if anyPages}}
      <div class="form-group">
        <div class="btn-group" role="group">
          <BsButton
            @type="light"
            @onClick={{action "prevPage"}}
            @disabled={{ isFirstPage }}
          >
            Previous
          </BsButton>
          <BsButton
            @type="light"
            @disabled={{ true }}
          >
            Page {{page}} of {{totalPages}}
          </BsButton>
          <BsButton
            @type="light"
            @onClick={{action "nextPage"}}
            @disabled={{ isLastPage }}
          >
            Next
          </BsButton>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<ul class="list-group" data-test-links>
  {{#each pagedLinks as |link|}}
    <LinkRow @link={{link}} @showIfRead={{true}} />
  {{/each}}
</ul>
