<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <form {{on "submit" this.performSearch}}>
        <Input
          data-test-search-input
          @value={{this.searchText}}
          @type="search"
          @placeholder="Search"
          @classNames="form-control"
        />
      </form>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <PaginationControls
      @records={{this.model}}
      @totalPages={{this.totalPages}}
      @page={{this.page}}
      @prevPage={{fn this.prevPage}}
      @nextPage={{fn this.nextPage}}
    />
  </div>
</div>

<ul class="list-group" data-test-links>
  {{#each this.model as |link|}}
    <LinkRow @link={{link}} @showIfRead={{true}} />
  {{/each}}
</ul>

<div class="row mt-3">
  <div class="col-sm-12 col-md-6"></div>
  <div class="col-sm-12 col-md-6">
    <PaginationControls
      @records={{this.model}}
      @totalPages={{this.totalPages}}
      @page={{this.page}}
      @prevPage={{fn this.prevPage}}
      @nextPage={{fn this.nextPage}}
    />
  </div>
</div>
