<BsNavbar
  @type="light"
  @collapsed={{this.collapsed}}
  @onCollapse={{action (mut this.collapsed) true}}
  @onExpand={{action (mut this.collapsed) false}} as |Navbar|
>
  <div class="container">
    {{#link-to "index" classNames="navbar-brand"}}
      {{siteName}}
    {{/link-to}}
    <Navbar.toggle />
    <Navbar.content>
      <Navbar.nav class="ml-auto" as |Nav|>
        {{#if session.isAuthenticated}}
          <Nav.item>
            {{#link-to "index" data-test-unread-link classNames="nav-link"}}Unread{{/link-to}}
          </Nav.item>
          <Nav.item>
            {{#link-to "links.read" data-test-read-link classNames="nav-link"}}Read{{/link-to}}
          </Nav.item>
          <Nav.item>
            {{#link-to "tags" data-test-tags-link classNames="nav-link"}}Tags{{/link-to}}
          </Nav.item>
          <Nav.item>
            <a href="#" {{action "signOut"}} data-test-logout-button class="nav-link">Sign out</a>
          </Nav.item>
        {{else}}
          <Nav.item>
            <a href={{authorUrl}} rel="author" class="nav-link">Home</a>
          </Nav.item>
          <Nav.item>
            {{#link-to "index" classNames="nav-link"}}Links{{/link-to}}
          </Nav.item>
          <Nav.item>
            {{#link-to "tags" data-test-tags-link classNames="nav-link"}}Tags{{/link-to}}
          </Nav.item>
          <Nav.item>
            {{#link-to "login" data-test-login-link classNames="nav-link"}}Sign in{{/link-to}}
          </Nav.item>
        {{/if}}
      </Navbar.nav>
    </Navbar.content>
  </div>
</BsNavbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      {{outlet}}
    </div>
  </div>
</div>

<footer class="text-center text-muted m-3">
  <img src="/favicon-32x32.png" alt="Firehose icon">
  Implemented with <a href="https://github.com/CodingItWrong/firehose">Firehose</a>
</footer>
