<form {{action 'authenticate' on='submit'}}>
  <label for="email">Email</label>
  {{input id='email' placeholder='Enter Email' value=email}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>

<ul data-test="links">
  {{#each model as |link|}}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {{/each}}
</ul>
