<form {{action 'authenticate' on='submit'}}>
  <label for="email">Email</label>
  {{input id='email' placeholder='Enter Email' value=email class='test-email'}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password class='test-password'}}
  <button type="submit" class="test-login-button">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>

<ul class="list-group" data-test="links">
  {{#each model as |link|}}
    {{link-row link=link}}
  {{/each}}
</ul>
