<% if user_signed_in? %>
  <div class="form-group">
    <%= link_to 'Add', new_link_path, class: 'btn btn-default' %>
  </div>
<% end %>

<% @links.each do |link| %>
  <div class="panel panel-default">
    <div class="panel-body h-entry">
      <div>
        <span class="lead p-name"><%= link_to link.title, link.url %></span>
        <% if user_signed_in? %>
          <% if link.public? %>
            <span>Public</span>
          <% end %>
        <% end %>
      </div>
      <div class="pull-left">
        <div>
          <% link.tags.each do |tag| %>
            <span class="label label-primary"><%= tag %></span>
          <% end %>
        </div>
        <div>
          <time class="dt-published" datetime="<%= link.created_at.strftime('%F %T') %>"><%= link.created_at.strftime('%F') %></time>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="pull-right">
          <% if link.read? %>
            <%= link_to 'Mark Unread', link_reading_path(link), method: :delete, class: 'btn btn-default' %>
          <% else %>
            <%= link_to 'Mark Read', link_reading_path(link), method: :post, class: 'btn btn-default' %>
          <% end %>
          <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-default' %>
          <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
      <% if link.comment.present? %>
        <p class="e-content"><%= link.comment %></p>
      <% end %>
    </div>
  </div>
<% end %>
