<% if user_signed_in? %>
  <div class="form-group">
    <%= link_to 'Add', new_link_path, class: 'btn btn-default' %>
  </div>
<% end %>

<ul class="list-group">
  <% @links.each do |link| %>
    <li class="list-group-item clearfix h-entry">
      <div>
        <span class="link-title p-name"><%= link_to link.title, link.url, target: '_blank' %></span>
        <% if user_signed_in? %>
          <% if link.public? %>
            <span>Public</span>
          <% end %>
        <% end %>
      </div>
      <% if link.comment.present? %>
        <p class="e-content"><%= link.comment %></p>
      <% end %>
      <div class="pull-left">
        <div>
          <% link.tags.each do |tag| %>
            <span class="label label-primary p-category"><%= tag %></span>
          <% end %>
        </div>
        <div>
          <time class="dt-published" datetime="<%= link.created_at.strftime('%F %T') %>"><%= link.created_at.strftime('%F') %></time>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="pull-right">
          <div class="dropdown visible-xs-block visible-sm-block">
            <button class="btn btn-default" type="button" id="prayerActionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="prayerActionMenu">
              <%= render partial: 'links/actions', locals: { link: link, link_container: ->(content) { "<li>#{content}</li>".html_safe } } %>
            </ul>
          </div>
          <div class="hidden-xs hidden-sm">
            <%= render partial: 'links/actions', locals: { link: link, link_classes: 'btn btn-default', delete_link_classes: 'btn btn-danger' } %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
