<% if user_signed_in? %>
  <%= link_to 'Add', new_link_path %>
<% end %>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>
      <% if user_signed_in? %>
        <% if link.public? %>
          <span>Public</span>
        <% end %>
        <span>
          <%= link_to 'Edit', edit_link_path(link) %>
          <%= link_to 'Delete', link, method: :delete, confirm: 'Are you sure?' %>
        </span>
      <% end %>
      <p><%= link.tags.join(', ') %></p>
      <p><%= link.comment %></p>
    </li>
  <% end %>
</ul>
