<% if user_signed_in? %>
  <%= link_to 'Add', new_link_path, class: 'btn btn-default' %>
<% end %>

<% @links.each do |link| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><%= link_to link.title, link.url %></h2>
      <% if user_signed_in? %>
        <% if link.public? %>
          <span>Public</span>
        <% end %>
        <div>
          <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-default' %>
          <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
      <div>
        <% link.tags.each do |tag| %>
          <span class="label label-primary"><%= tag %></span>
        <% end %>
      </div>
      <p><%= link.comment %></p>
    </div>
  </div>
<% end %>
