<%= link_to 'Add', new_link_path %>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>
      <span>
        <%= link_to 'Edit', edit_link_path(link) %>
        <%= link_to 'Delete', link, method: :delete, confirm: 'Are you sure?' %>
      </span>
      <p><%= link.comment %></p>
    </li>
  <% end %>
</ul>
