<% if user_signed_in? %>
  <div class="form-group">
    <%= link_to 'Add', new_link_path, class: 'btn btn-default' %>
  </div>
<% end %>

<% @links.each do |link| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <span class="lead"><%= link_to link.title, link.url %></span>
        <% if user_signed_in? %>
          <% if link.public? %>
            <span>Public</span>
          <% end %>
        <% end %>
      </div>
      <div class="pull-left">
        <div>
          <% link.tags.each do |tag| %>
            <span class="label label-primary"><%= tag %></span>
          <% end %>
        </div>
        <div>
          <%= link.created_at.strftime('%Y-%m-%d') %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="pull-right">
          <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-default' %>
          <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
      <p><%= link.comment %></p>
    </div>
  </div>
<% end %>
