<h1>Add Link</h1>

<%= form_for @link do |f| %>
  <div class="form-group">
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url, type: 'url', class: 'form-control' %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', root_path, class: 'btn btn-default' %>
<% end %>

<script type="text/javascript">
  window.addEventListener('load', function() {
    const linkElement = document.getElementById('link_url')
    linkElement.focus();
    console.log(window.clipboardData.getData('Text'));
  });
</script>
