{{#if showLink}}
  <li class="list-group-item clearfix h-entry">
    {{#if editing}}
      <LinkForm
        @link={{link}}
        @onSave={{action "finishEditing"}}
        @onCancel={{action "finishEditing"}}
      />
    {{else}}
      <LinkDetail
        @link={{link}}
        @onEdit={{action "edit"}}
      />
    {{/if}}
  </li>
{{/if}}
