<div>
  <span class="link-title p-name" data-test-link-title>
    <a href={{ link.url }} target="_blank" rel="noopener">{{ link.title }}</a>
  </span>
  {{#if session.isAuthenticated}}
    {{#if link.public}}
      <span>Public</span>
    {{/if}}
  {{/if}}
</div>
{{#if link.comment}}
  <p class="e-content">{{ link.comment }}</p>
{{/if}}
<div class="float-left text-muted">
  {{domain link.url}}
  {{#if link.tags}}
    |
    {{#each link.tags as |tag|}}
      <LinkTo @route="tags.show" @model={{tag.name}} @classNames="p-category">{{ tag.name }}</LinkTo>
    {{/each}}
  {{/if}}
  {{#if link.source}}
    | {{format-source link.source}}
  {{/if}}
</div>
{{#if session.isAuthenticated}}
  <div class="float-right">
    <BsDropdown @tagName="span" as |Dd|>
      <Dd.button
        @type="light"
        class="d-block d-md-none"
      />
      <Dd.menu @align="right" as |Menu|>
        {{#if link.read}}
          <Menu.item>
            <a
              class="dropdown-item"
              href="#"
              {{on "click" this.markUnread}}
            >
              Mark Unread
            </a>
          </Menu.item>
        {{else}}
          <Menu.item>
            <a
              class="dropdown-item"
              href="#"
              {{on "click" this.markRead}}
            >
              Mark Read
            </a>
          </Menu.item>
        {{/if}}
        <Menu.item>
          <a
            class="dropdown-item"
            href="#"
            {{on "click" this.edit}}
          >
            Edit
          </a>
        </Menu.item>
        <Menu.item>
          <a
            class="dropdown-item"
            href="#"
            {{on "click" this.delete}}
          >
            Delete
          </a>
        </Menu.item>
      </Dd.menu>
    </BsDropdown>
    <div class="d-none d-md-block">
      {{#if link.read}}
        <BsButton
          @data-test-button-mark-unread
          @type="light"
          @onClick={{fn this.markUnread}}
        >
          Mark Unread
        </BsButton>
      {{else}}
        <BsButton
          @data-test-button-mark-read
          @type="light"
          @onClick={{fn this.markRead}}
        >
          Mark Read
        </BsButton>
      {{/if}}
      <BsButton
        @data-test-button-edit
        @type="light"
        @onClick={{fn this.edit}}
      >
        Edit
      </BsButton>
      <BsButton
        @data-test-button-delete
        @type="danger"
        @onClick={{fn this.delete}}
      >
        Delete
      </BsButton>
    </div>
  </div>
{{/if}}
