{{#if showLink}}
  <li class="list-group-item clearfix h-entry">
    {{#if editing}}
      <LinkForm
        @link={{link}}
        @onSave={{fn this.finishEditing}}
        @onCancel={{fn this.finishEditing}}
      />
    {{else}}
      <LinkDetail
        @link={{link}}
        @onEdit={{fn this.edit}}
      />
    {{/if}}
  </li>
{{/if}}
