<div>
  <span class="link-title p-name" data-test-link-title>
    <a href={{ link.url }} target="_blank" rel="noopener">{{ link.title }}</a>
  </span>
  {{#if session.isAuthenticated}}
    {{#if link.public}}
      <span>Public</span>
    {{/if}}
  {{/if}}
</div>
{{#if link.comment}}
  <p class="e-content">{{ link.comment }}</p>
{{/if}}
<div class="float-left text-muted">
  {{domain link.url}}
  {{#if link.tags}}
    |
    {{#each link.tags as |tag|}}
      {{#link-to
        "tags.show"
        tag.name
        classNames="p-category"
      }}
        {{ tag.name }}
      {{/link-to}}
    {{/each}}
  {{/if}}
  {{#if link.source}}
    | {{format-source link.source}}
  {{/if}}
</div>
{{#if session.isAuthenticated}}
  <div class="float-right">
    <div class="dropdown d-block d-md-none">
      <button
        type="button"
        class="btn btn-light dropdown-toggle"
        id="linkActionMenu"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="linkActionMenu">
        {{#if link.read}}
          <a
            class="dropdown-item"
            href="#"
            onclick={{action "markUnread"}}
          >
            Mark Unread
          </a>
        {{else}}
          <a
            class="dropdown-item"
            href="#"
            onclick={{action "markRead"}}
          >
            Mark Read
          </a>
        {{/if}}
        <a
          class="dropdown-item"
          href="#"
          onclick={{action "edit"}}
        >
          Edit
        </a>
        <a
          class="dropdown-item"
          href="#"
          onclick={{action "delete"}}
        >
          Delete
        </a>
      </div>
    </div>
    <div class="d-none d-md-block">
      {{#if link.read}}
        <button
          data-test-button="mark-unread"
          class="btn btn-light"
          onclick={{action "markUnread"}}
        >
          Mark Unread
        </button>
      {{else}}
        <button
          data-test-button-mark-read
          class="btn btn-light"
          onclick={{action "markRead"}}
        >
          Mark Read
        </button>
      {{/if}}
      <button
        data-test-button-edit
        class="btn btn-light"
        onclick={{action "edit"}}
      >
        Edit
      </button>
      <button
        data-test-button-delete
        class="btn btn-danger"
        onclick={{action "delete"}}
      >
        Delete
      </button>
    </div>
  </div>
{{/if}}
