<BsForm
  @formLayout="vertical"
  @model={{buffer}}
  @onSubmit={{action "handleSave"}} as |Form|
>
  <div class="form-group">
    <label>URL</label>
    <p class="form-control-static">
      <a href={{ link.url }}>{{ link.url }}</a>
    </p>
  </div>
  <Form.element
    @data-test-title
    @controlType="text"
    @label="Title"
    @property="title"
  />
  <div class="form-group" data-test-source>
    <label for="source">Source</label>
    {{input
      value=buffer.source
      classNames="form-control"
      autocapitalize="off"
      autocorrect="off"
    }}
  </div>
  <div class="form-group" data-test-tags>
    <label for="tag_list">Tags</label>
    {{input
      value=buffer.tag_list
      classNames="form-control"
      autocapitalize="off"
      autocorrect="off"
    }}
  </div>
  <Form.element
    @data-test-public
    @controlType="checkbox"
    @label="Public"
    @property="public"
  />
  <Form.element
    @data-test-comment
    @controlType="textarea"
    @label="Comment"
    @property="comment"
  />
  <div class="float-right">
    <BsButton
      type="submit"
      @data-test-save-button
      @type="primary"
    >
      Save
    </BsButton>
    <BsButton
      type="button"
      @data-test-cancel-button
      @type="light"
      @onClick={{action "handleCancel"}}
    >
      Cancel
    </BsButton>
  </div>
</BsForm>
