<!DOCTYPE html>
<html>
  <head>
    <title><%= site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= render partial: 'favicons' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'nav' %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
          <% if notice %>
            <div class="alert alert-success"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger"><%= alert %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>

    <%= render partial: 'footer' %>
  </body>
</html>
